extends layout

block content
  //- a(href='https://github.com/anders94/blockchain-demo/')
  //-   img.github-ribbon(src='/images/fork-me-on-github-ribbon.png', alt='Fork me on GitHub')
  .container
    h1 Blockchain Demo: #{__('Public / Private Keys')} &amp; #{__('Signing')} 
    //- .embed-responsive.embed-responsive-16by9
      iframe.embed-responsive-item(src='https://www.youtube.com/embed/xIDL_akeras')
    h2 Welcome to this NFT workshop
    br
    br
    button(onclick='location.href="/keys"') Lets go !!!
    br
    br
    br
    p by 
    a(href='/') Anders Brownworth and modified slightly by Grasses
